# yaml-language-server: $schema=https://raw.githubusercontent.com/compose-spec/compose-spec/master/schema/compose-spec.json

# Getting the node_id:
# docker-compose exec garage-1 /garage node id
# docker-compose exec garage-2 /garage node id
# docker-compose exec garage-3 /garage node id

name: garasi

x-common: &common
  networks: ['garasi_network']
  # extra_hosts: ['host.docker.internal:host-gateway']
  restart: unless-stopped

services:
  garage-1:
    <<: *common
    image: dxflrs/garage:${GARAGE_VERSION:-v2.1.0}
    hostname: garage-node1
    volumes: ['./scripts/garage1.toml:/etc/garage.toml:ro', 'garage_data1:/var/lib/garage:rw']
    ports: ['39001:39001', '39011:39011', '39021:39021', '39031:39031', '39041:39041']
    env_file: '.env.garage1'
    environment:
      RUST_LOG: garage=info # error, warn, info (default), debug, trace.

  garage-2:
    <<: *common
    image: dxflrs/garage:${GARAGE_VERSION:-v2.1.0}
    hostname: garage-node2
    volumes: ['./scripts/garage2.toml:/etc/garage.toml:ro', 'garage_data2:/var/lib/garage:rw']
    ports: ['39002:39002', '39012:39012', '39022:39022', '39032:39032', '39042:39042']
    env_file: '.env.garage2'
    environment:
      RUST_LOG: garage=info # error, warn, info (default), debug, trace.

  garage-3:
    <<: *common
    image: dxflrs/garage:${GARAGE_VERSION:-v2.1.0}
    hostname: garage-node3
    volumes: ['./scripts/garage3.toml:/etc/garage.toml:ro', 'garage_data3:/var/lib/garage:rw']
    ports: ['39003:39003', '39013:39013', '39023:39023', '39033:39033', '39043:39043']
    env_file: '.env.garage3'
    environment:
      RUST_LOG: garage=info # error, warn, info (default), debug, trace.

  caddy:
    <<: *common
    image: caddy:${CADDY_VERSION:-2.8}
    hostname: caddy
    ports: ['80:80', '443:443', '8443:8443']
    volumes: ['./storage/certs:/etc/caddy/certs:ro']
    configs:
      - source: caddy_config
        target: /etc/caddy/Caddyfile
    environment:
      CADDY_HTTP_PORT: 80
      CADDY_HTTPS_PORT: 8443
    depends_on:
      garage-1: { condition: service_started }

  mailpit:
    <<: *common
    image: axllent/mailpit:${MAILPIT_VERSION:-latest}
    hostname: mailpit
    volumes: ['mailpit_data:/data:rw']
    ports: ['1025:1025', '8025:8025']
    environment:
      TZ: Asia/Jakarta
      MP_TAGS_USERNAME: true
      MP_DISABLE_VERSION_CHECK: true
      MP_ALLOW_UNTRUSTED_TLS: true
      MP_UI_BIND_ADDR: 0.0.0.0:8025
      MP_SMTP_BIND_ADDR: 0.0.0.0:1025
      MP_SMTP_AUTH_ALLOW_INSECURE: true
      MP_SMTP_AUTH: 'maileruser1:mailerpass1 maileruser2:mailerpass2'

volumes:
  garage_data1:
    driver: local
  garage_data2:
    driver: local
  garage_data3:
    driver: local
  mailpit_data:
    driver: local

networks:
  garasi_network:
    name: garasi_network
    driver: bridge

configs:
  caddy_config:
    content: |
      {
        admin off
      }
      :443 {
        tls /etc/caddy/certs/localhost_crt.pem /etc/caddy/certs/localhost_key.pem
        reverse_proxy garage-node1:39001
      }
