# yaml-language-server: $schema=https://raw.githubusercontent.com/compose-spec/compose-spec/master/schema/compose-spec.json

# Getting the node_id:
# docker-compose exec garage-1 /garage node id
# docker-compose exec garage-2 /garage node id
# docker-compose exec garage-3 /garage node id

name: garasi

x-common: &common
  networks: ['garasi_network']
  # extra_hosts: ['host.docker.internal:host-gateway']
  restart: unless-stopped

services:
  garage-1:
    <<: *common
    image: dxflrs/garage:${GARAGE_VERSION:-v2.1.0}
    hostname: garage-node1
    volumes: ['./scripts/garage.toml:/etc/garage.toml:ro', 'garage_data1:/var/lib/garage:rw']
    ports: ['3900:3900', '3901:3901', '3902:3902', '3903:3903', '3904:3904']
    env_file: '.env.garage1'
    environment:
      RUST_LOG: garage=info # error, warn, info (default), debug, trace.

  garage-2:
    <<: *common
    image: dxflrs/garage:${GARAGE_VERSION:-v2.1.0}
    hostname: garage-node2
    volumes: ['./scripts/garage.toml:/etc/garage.toml:ro', 'garage_data2:/var/lib/garage:rw']
    ports: ['4900:3900', '4901:3901', '4902:3902', '4903:3903', '4904:3904']
    env_file: '.env.garage2'
    environment:
      RUST_LOG: garage=info # error, warn, info (default), debug, trace.

  garage-3:
    <<: *common
    image: dxflrs/garage:${GARAGE_VERSION:-v2.1.0}
    hostname: garage-node3
    volumes: ['./scripts/garage.toml:/etc/garage.toml:ro', 'garage_data3:/var/lib/garage:rw']
    ports: ['5900:3900', '5901:3901', '5902:3902', '5903:3903', '5904:3904']
    env_file: '.env.garage3'
    environment:
      RUST_LOG: garage=info # error, warn, info (default), debug, trace.

  mailpit:
    <<: *common
    image: axllent/mailpit:${MAILPIT_VERSION:-latest}
    hostname: mailpit
    volumes: ['mailpit_data:/data:rw']
    ports: ['1025:1025', '8025:8025']
    environment:
      TZ: Asia/Jakarta
      MP_TAGS_USERNAME: true
      MP_DISABLE_VERSION_CHECK: true
      MP_ALLOW_UNTRUSTED_TLS: true
      MP_UI_BIND_ADDR: 0.0.0.0:8025
      MP_SMTP_BIND_ADDR: 0.0.0.0:1025
      MP_SMTP_AUTH_ALLOW_INSECURE: true
      MP_SMTP_AUTH: 'maileruser1:mailerpass1 maileruser2:mailerpass2'

volumes:
  garage_data1:
    driver: local
  garage_data2:
    driver: local
  garage_data3:
    driver: local
  mailpit_data:
    driver: local

networks:
  garasi_network:
    name: garasi_network
    driver: bridge
